.unanswered {
  width: 49%;
  height: 80px;
  vertical-align: top;
  cursor: pointer;
  border: 2px solid rgba(6, 51, 253, 0.5);
  border-radius: 5px;
  margin: 2px;
}

.unanswered:hover {
  background-color: rgba(6, 51, 253, 0.2);
  color: white;
}

.correct {
  background-color: green;
}

.wrong {
  background-color: red;
}
