.option {
  width: 49%;
  height: 80px;
  vertical-align: top;
  cursor: pointer;
  border: 2px solid rgba(6, 51, 253, 0.5);
  border-radius: 5px;
  margin: 2px;
}

.option:hover {
  background-color: rgba(6, 51, 253, 0.2);
  color: white;
}

.correct {
  background-color: rgba(0, 128, 0, 0.479);
  width: 49%;
  height: 80px;
  vertical-align: top;
  cursor: pointer;
  border: 2px solid rgba(6, 51, 253, 0);
  border-radius: 5px;
  margin: 2px;
}

.correct:hover {
  background-color: rgba(53, 250, 53, 0.479);
  border: white;
}

.wrong {
  background-color: rgba(255, 50, 50, 0.452);
  width: 49%;
  height: 80px;
  vertical-align: top;
  cursor: pointer;
  border: 2px solid rgba(6, 51, 253, 0);
  border-radius: 5px;
  margin: 2px;
}

.wrong:hover {
  background-color: rgba(255, 50, 50, 0.664);
  border: white;
}
