.question-container {
  width: 500px;
}

.question-card {
  height: 150px;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 10px;
}

.options-container {
  display: flex;
  flex-direction: column;
}
